body
	{
	display:flex;
	align-items:center;
	justify-content:center;
	font-family:'Courier New', monospace;
	}

p	{
	text-align:justify;
	}

#quote
	{
	font-family:Consolas;
	font-size:1.5rem;
	line-height:2.0rem;
	}
/*---------------Style container---------------------*/
.clueContainer
	{
	display:flex;
	flex-direction:column;
	width:80%;
	height:80%;
	border:2px solid gray;
	padding:10px;
	overflow:auto;
	}


.clueContainer p
	{
	overflow:auto;
	}



/*---------------End Style container-----------------*/
/*---------------Style input-------------------------*/
input
	{
	display:flex;
	justify-content:center;
	height:20%;
	width:80%;
	
	border-radius:5px;
	border: 1px solid #2B2D42;

	margin-top:auto;
	margin-bottom:auto;
	margin-left:auto;
	margin-right:auto;

	font-style:normal;
	font-family:Arial;
	font-weight:bold;
	font-size: 2.0rem;
	text-align:center;
	color:silver;
	}
input[type=text]:focus
	{
	background-color:yellow;
	font-size: 2.5rem;
	height:50%;
	width:80%;
	color:black;
	margin-bottom:20px;
	overflow:auto;
	}

#link
	{
	display:flex;
	justify-content:center;
	}

button
	{
	font-style:normal;
	font-family:Arial;
	font-weight:bold;
	font-size: 2.0rem;
	}

/*---------------END Style input---------------------*/
/*---------------Style #message----------------------*/
#message
	{
	width:100%;
	text-align:center;

	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
	}
/*---------------END Style #message------------------*/
/*---------------Style placeholder-------------------*/
::placeholder 			/* For Firefox */
	{
	color: silver;
	opacity: 1; 
	}

::-ms-input-placeholder 	/* For Edge 12 -18 */
	{ 
	word-wrap: break-word;
	color: blue;
	}

::placeholder input[type=text]:focus
	{
	color:yellow;
	}

::-ms-input-placeholder input[type=text]:focus
	{
	color:yellow;
	}
/*---------------END Style placeholder---------------*/
/*---------------Style text decorations--------------*/
ib
	{
	font-weight:bold;
	font-style:italic;
	}

ib::before, ib::after
	{content:'"';}

ibb	/*--italic bold blink--*/
	{
	font-weight:bold;
	font-style:italic;
	animation-name:blink;
	animation-duration:1s;
	animation-iteration-count: infinite;
	}
ibbb	/*--italic bold blink fast--*/
	{
	font-weight:bold;
	font-style:italic;
	animation-name:blink;
	animation-duration:0.5s;
	animation-iteration-count: infinite;

	}

@keyframes blink
	{
	from	{
		background-color:yellow;
		color:black;
		}
	to	{
		background-color:unset;
		color:red;
		}
	}

span img
	{
	height:15px;
	width:15px;
	align-self:center;
	margin-bottom:0;
	}
/*---------------END Style text decorations----------*/
/*---------------Style polybuis Key------------------*/
.codeKey
	{
	display:flex;
	width:100%;
	height:auto;
	margin-bottom:20px;
	}
.codeKey img
	{
	width:100%;
	height:auto;
	}

.clueTitle
	{
	display:flex;
	font-weight:bold;
	font-size:1.2rem;
	height:30px;
	position:sticky;
	}
.clueContent
	{
	display:flex;
	flex-direction:column;
	overflow:auto;
	}
/*---------------END Style polybuis Key--------------*/
/*---------------Style Time clue---------------------*/
.clueImage
	{
	display:flex;
	width:100%;
	height:auto;
	margin-bottom:20px;
	}
.clueImage img
	{
	width:100%;
	height:auto;
	}
.clueImage2 img
	{
	width:50%;
	height:auto;
	}
/*---------------End Style Time clue-----------------*/
